div {
    display: flex;
    justify-content: space-evenly;
}
.commentBtn {
    width: 50%;
    border-radius: 8px;
    background-color: lightseagreen;
    color: white;
    font-size: large;
}
button {
    border: none;
}

.form {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}