<div>
    <i class="far fa-thumbs-up" (click)="upVote()"></i>
    <i class ="fas fa-angle-double-up" (click)="commentBtn()"></i>
    <i class="far fa-heart"></i>
    <i class="far fa-thumbs-down" (click)="downVote()"></i>
</div>
<div> 
<p class = "likes"> {{upVoteCount}} Likes</p>
<p class = "dislikes"> {{downVoteCount}} Dislikes</p> 

    <form *ngIf="commentForm" class="form" (submit)="submit()">
        <div class="form-group">
          <input [(ngModel)]="name" name="name" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Name">
        </div>
        <div class="form-group">
          <input [(ngModel)]="comment" name="comment" type="text" class="form-control" class="comment" id="exampleInputPassword1" placeholder="Please enter your comment">
        </div>
        <button type="submit" class="btn btn-primary" class="submitBtn" >Submit</button>
      </form>
