div {
    display: flex;
    justify-content: space-evenly;
}
.commentBtn {
    width: 50%;
    border-radius: 8px;
    background-color: lightseagreen;
    color: white;
    font-size: large;
}


.form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 10px;
}
.comment {
    height: 100px;
    width: 100%;
    border: 1px solid black;
    border-radius: 5px;
    text-align: left;
    
}
.submitBtn {
    background-color: lightseagreen;
    border-radius: 5px; 
}
span {
    font-size: 1.2rem;
}
