<body>
  <header>
    <h4>Upcoming Marijuana Building Permits</h4>
  </header>
  <main class="project">
    <div *ngFor="let permit of permitList">
      <h4 class="projectName">{{ permit.attributes.EntityName }}</h4>
      <p>
        {{ permit.attributes.FullAddress }}<br />
        Status: {{ permit.attributes.Status }}<br />
        Approval Date: {{ formatDate(permit.attributes.ApprovedDate) }}<br />
        Intake Date: {{ formatDate(permit.attributes.IntakeDate) }}
      </p>
      <vote-comment></vote-comment>
    </div>
  </main>
</body>
