body {
    margin: 0;
}
.genInfo {
    display: flex; 
    justify-content: space-between;
    align-items: center;
}
h4 {
    border-bottom: 3px solid green;

}
div {
    padding: 5px;
}
.statusInfo {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.project {
    padding: 5px;
}

button {
    border: none;
}

