<body>
  <main class="project">
      <h3 class="projectName">{{ permit.attributes.EntityName }}</h3>
      <h4>{{ permit.attributes.FullAddress }}</h4>
      <div class="genInfo">
        <p>Status: {{ permit.attributes.Status }}</p>
        <p>Approval Date: {{ formatDate(permit.attributes.ApprovedDate) }}</p>
        <p>Intake Date: {{ formatDate(permit.attributes.IntakeDate) }}</p>  
      </div>
         <!-- button to add permit to saved list -->
         <i class="fas fa-bookmark fa-2x" *ngIf="fave" (click)="removeMJItem(permit)"></i>
         <!-- button to remove from saved list -->
         <i class="far fa-bookmark fa-2x" *ngIf="!fave" (click)="addMJItem(permit)"></i>  
      <vote-comment [id]="permit.attributes.ApplicationID"></vote-comment>
  </main>
</body>
