<header>
    <h1 class="title">Commercial Building Permits</h1>
    <div class="searchBar">
        <input type="text" placeholder="Search by street name ex. 'Division'" [(ngModel)]="permitAddress" />
        <button (click)="filterAddress()" class="searchBtn"><i class="fas fa-search fa-2x"></i></button>
    </div>
</header>

<div class="fullList">
    <div *ngFor = "let permit of PermitsAPIService.permitList">
        <building-category [permit]="permit"></building-category>
    </div>
</div>

<div *ngIf="PermitsAPIService.permitList.length == 0">
    <p>Please Wait...</p>
</div>