<!-- CODE BEFORE BEING MODIFIED STARTS ON LINE 111 - RYAN 03/26/2020 @ 0252 -->


<body>
  <div class = "sheet">
    <header>
      <h1 class="title">Share & Connect</h1>
      <!-- target="_blank" opens links in a new tab -->
      <nav id = "socialMedia" class = "animated tada"> 
         
        <ul> 
          <a href = "https://www.facebook.com/CityofGrandRapids" target="_blank">
            <i class="fab fa-facebook fa-3x"id = "facebook"></i></a>
          <a href = "https://www.instagram.com/citygrandrapids/" target="_blank">
            <i class="fab fa-instagram fa-3x"  id = "insta"></i></a>
          <a href = "https://twitter.com/CityGrandRapids" target="_blank">
            <i class="fab fa-twitter fa-3x" id = "twitter"></i></a>
          <a href = "https://www.youtube.com/user/TheCityofGR" target="_blank">
            <i class="fab fa-youtube fa-3x" id = "youtube"></i></a>
          <a href ="https://www.google.com/maps/place/300+Monroe+Ave+NW,+Grand+Rapids,+MI+49503/@42.9692626,-85.6737103,17z/data=!4m5!3m4!1s0x8819adcf0108c147:0x619b153f60d55abe!8m2!3d42.9692626!4d-85.6715216"
            target="_blank"><i class="fas fa-map-marker-alt fa-3x" id="location"></i></a>
        </ul>
      </nav> 
    </header>

    <h4>Developers</h4>
    <div class="allDevs">
      <div class = "column">
        <div class = "left-column">
          <div class = "devInfo">
            <div class ="container"> 
              <img src="assets/IMG_0898.png" class="devImg" />
              <div class = "overlay">
                <div class = "text">Chase Baker</div>
              </div>
            </div>
            <div class="contactInfo">
              <a href="https://www.linkedin.com/in/chase-baker-b55631180/"
                ><i class="fab fa-linkedin fa-2x"></i
              ></a>
              <a href="https://github.com/chasebaker21" class="gitHub"
                ><i class="fab fa-github fa-2x"></i
              ></a>
            </div>
          </div>

          <div class = "devInfo">
            <div class = "container"> 
              <img src="assets/brielleRobinson.png" class="devImg" />
              <div class = "overlay">
                <div class = "text">Brielle Robinson</div>
              </div>
            </div>
            <div class="contactInfo">
              <a href="https://www.linkedin.com/in/brielle-robinson/"
                ><i class="fab fa-linkedin fa-2x"></i
              ></a>
              <a href="https://github.com/briellemarie28" class="gitHub"
                ><i class="fab fa-github fa-2x"></i
              ></a>
            </div>
          </div>
        </div>
      </div>

      <div class = "column">
        <div class = "right-column">
          <div class = "devInfo">
            <div class = "container">
              <img src="assets/samScholtens.png" class="devImg" id="samImg"/>
              <div class = "overlay">
                <div class = "text">Sam Scholtens</div>
              </div>
            </div> 
            <div class="contactInfo">
              <a href="https://www.linkedin.com/in/samscholtens/"
                ><i class="fab fa-linkedin fa-2x"></i
              ></a>
              <a href="https://github.com/samscholt" class="gitHub"
                ><i class="fab fa-github fa-2x"></i
              ></a>
            </div>
          </div>

          <div class = "devInfo">
            <div class = "container"> 
              <img src="assets/ryanDeVree.png" class="devImg" />
              <div class = "overlay">
                <div class = "text">Ryan DeVree</div>
              </div>
            </div>
            <div class="contactInfo">
              <a href="https://www.linkedin.com/in/ryan-devree-grrmco/"
                ><i class="fab fa-linkedin fa-2x"></i
              ></a>
              <a href="https://github.com/ryan-devree-GRRMCO" class="gitHub"
                ><i class="fab fa-github fa-2x"></i
              ></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>



<!-- THE BELOW IS WHAT WAS IN THE FILE BEFORE RYAN MODIFIED IT - RYAN 03/26/2020 @ 0252 -->


<!-- <body>
  <div class = "sheet">
  <header>
      <h1 class="title">Share & Connect</h1> -->
      <!-- target="_blank" opens links in a new tab -->
      <!-- <nav id = "socialMedia" class = "animated tada">  
        <ul> 
        <a href = "https://www.facebook.com/CityofGrandRapids" target="_blank">
          <i class="fab fa-facebook fa-3x"id = "facebook"></i></a>
        <a href = "https://www.instagram.com/citygrandrapids/" target="_blank">
          <i class="fab fa-instagram fa-3x"  id = "insta"></i></a>
        <a href = "https://twitter.com/CityGrandRapids" target="_blank">
          <i class="fab fa-twitter fa-3x" id = "twitter"></i></a>
        <a href = "https://www.youtube.com/user/TheCityofGR" target="_blank">
          <i class="fab fa-youtube fa-3x" id = "youtube"></i></a>
        <a href ="https://www.google.com/maps/place/300+Monroe+Ave+NW,+Grand+Rapids,+MI+49503/@42.9692626,-85.6737103,17z/data=!4m5!3m4!1s0x8819adcf0108c147:0x619b153f60d55abe!8m2!3d42.9692626!4d-85.6715216"
          target="_blank"><i class="fas fa-map-marker-alt fa-3x" id="location"></i></a>

        </ul>
      </nav> 
    </header>

      <h4>Developers</h4>
      <div class="allDevs">
        <div class > -->
          <!-- <p>Chase Baker</p> -->
          <!-- <div class ="container"> 
          <img src="assets/IMG_0898.png" class="devImg" />
          <div class = "overlay">
            <div class = "text">Chase Baker</div>
          </div>
        </div>
          <div class="contactInfo">
            <a href="https://www.linkedin.com/in/chase-baker-b55631180/"
              ><i class="fab fa-linkedin fa-2x"></i
            ></a>
            <a href="https://github.com/chasebaker21" class="gitHub"
              ><i class="fab fa-github fa-2x"></i
            ></a>
          </div>
        </div>

        <div> -->
          <!-- <p>Brielle Robinson</p> -->
          <!-- <div class = "container"> 
          <img src="assets/brielleRobinson.png" class="devImg" />
          <div class = "overlay">
            <div class = "text">Brielle Robinson</div>
          </div>
        </div>
          <div class="contactInfo">
            <a href="https://www.linkedin.com/in/brielle-robinson/"
              ><i class="fab fa-linkedin fa-2x"></i
            ></a>
            <a href="https://github.com/briellemarie28" class="gitHub"
              ><i class="fab fa-github fa-2x"></i
            ></a>
          </div>
        </div>


        <div>
          <div class = "container"> -->
          <!-- <p>Sam Scholtens</p> -->
          <!-- <img src="assets/samScholtens.png" class="devImg" />
          <div class = "overlay">
            <div class = "text">Sam Scholtens</div>
          </div>
        </div> 
          <div class="contactInfo">
            <a href="https://www.linkedin.com/in/samscholtens/"
              ><i class="fab fa-linkedin fa-2x"></i
            ></a>
            <a href="https://github.com/samscholt" class="gitHub"
              ><i class="fab fa-github fa-2x"></i
            ></a>
          </div>
        </div>


        <div>
          <div class = "container">  -->
          <!-- <p>Ryan DeVree</p> -->
          <!-- <img src="assets/ryanDeVree.png" class="devImg" />
          <div class = "overlay">
            <div class = "text">Ryan DeVree</div>
          </div>
        </div>
          <div class="contactInfo">
            <a href="https://www.linkedin.com/in/ryan-devree-grrmco/"
              ><i class="fab fa-linkedin fa-2x"></i
            ></a>
            <a href="https://github.com/ryan-devree-GRRMCO" class="gitHub"
              ><i class="fab fa-github fa-2x"></i
            ></a>
          </div>
        </div>
      </div>
    </div>
  </body> -->


