/* CODE BEFORE BEING MODIFIED STARTS ON LINE 264 - RYAN 03/26/2020 @ 0252*/

.sheet {
    margin-bottom: 50px;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #fff;
}

.title {
    position: absolute;
    text-align: center;
    top: 13%;
    font-size: 1.3rem;
    padding: 0;
}

#socialMedia{
    display: flex;
    flex-flow: row;
    align-content: space-between;
    justify-content: center;
    flex-direction: column;
}

ul {
    margin-top: 0;
    margin-bottom: 1rem;
    padding: 0;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

a {
    text-decoration: none;
    color: #0077B5;
    margin: 3px;
    display: inline;
}

#facebook {
    color: #3b5998;
    padding: 20px;
}

 /* fix instagram logo color */
 #insta {
    color:#E1306C;
    padding: 20px;
}

#twitter {
    color: #00acee;
    padding: 20px;
}

#youtube {
    color: #c4302b;
    padding: 20px;
}

#location {
    padding: 20px;
    margin-right: 40px;
    color: black;
}

h4 {
    display: flex;
    justify-content: center;
    color: #fff;
}

.allDevs {
    /* border: 3px solid orange; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 0;
}

.column {
    /* border: 3px solid gray; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.left-column, .right-column {
    /* border: 3px solid orange; */
    text-align: center;
    justify-content: space-between;
}

.devInfo {
    /* border: 3px solid yellow; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

  /* Code from W3 Schools for photo overlay */
  .container {
    /* border: 3px solid red; */
    width: 130px;
    flex-basis: 130px;
    display: flex;
    justify-content: center;
  }

 .devImg {
     /* border: 3px solid brown; */
    display: block;
    width: 130px;
    flex-basis: 130px;
  }

  .overlay {
    position: absolute;
    display: block;
    border-radius: 50%;
    width: 100%;
    height: 130px;
    width: 130px;
    opacity: 0;
    transition: .5s ease;
    background-color: #101419;
    border: 1px solid #FBEE37;
  }
  
  .container:hover .overlay {
    opacity: 1;
  }
  
  .text {
    color: #fff;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }

  .contactInfo {
    /* border: 3px solid green; */
    display: flex;
    justify-content: center;
    max-height: fit-content;
}

.gitHub {
    color: black;
}


 @media only screen and (min-width: 405px) {
     div {
         flex-basis: 190px;
     }
 }

 @media only screen and (min-width: 450px) {
     h1 {
         font-size: 2.5rem;
     }
 }

 @media only screen and (min-width: 617px) {

     .allDevs {
         flex-direction: row;
     }

     .devInfo {
         height: 50%;
     }

     .column {
         width: 50%;
         height: auto;
     }

     .left-column, .right-column {
         flex: 1;
         justify-content: space-around;
     }
 }


 @media only screen and (min-width: 909px) {

     .container {
        width: 260px;
        flex-basis: 260px;
     }

     .devImg {
         width: 260px;
         flex-basis: 260px;
     }

     .overlay {
        height: 260px;
        width: 260px;
     }
 }

 @media only screen and (min-width: 1366px) {

     .devInfo {
         width: 50%;
         height: 100%;
     }

     .allDevs {
         display: flex;
         flex-direction: row;
         justify-content: space-evenly;
         width: 100%;
     }
     .column {
         display: flex;
         flex-direction: row;
         justify-content: space-evenly;
     }

     .left-column {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        width: 50vw;
     }

      .right-column {
         display: flex;
         flex-direction: row;
         justify-content: space-evenly;
         width: 50vw;
     }
}



/* THE BELOW IS WHAT WAS IN THE FILE BEFORE RYAN MODIFIED IT - RYAN 03/26/2020 @ 0252 */

/* .devImg {
    height: 125px;
} */
/* body {
    background: #20b874;
    height: 85vh;
} */
/* .title {
    position: absolute;
    top: 8%;
    font-size: 2.3rem;
    padding: 0;
}

.sheet {
    margin-bottom: 50px;
}

h1 {
    text-align: center;
    font-size: 1.5rem;
}
ul {
    margin-top: 0;
    margin-bottom: 1rem;
    padding: 0;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
} */

/* .chaseImg:hover{
    -webkit-transform: rotateZ(-30deg);
    -ms-transform: rotateZ(-30deg);
    transform: rotateZ(-30deg);
} */
/* div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-basis: 150px;
    margin: 3px;
}
a {
    text-decoration: none;
    color: #0077B5;
    margin: 3px;
    display: inline;
}
p {
    font-weight: 700;
}
.gitHub {
    color: black;
}
.contactInfo {
    display: block;
    max-height: fit-content;
}

.allDevs {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    
}
#socialMedia{
    display: flex;
    flex-flow: row;
    align-content: space-between;
    justify-content: center;
    flex-direction: column;
    

}
header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #fff;
}
h4 {
    display: flex;
    justify-content: center;
    color: #fff;

}

 #facebook {
     color: #3b5998;
     padding: 20px;
     
 }
 #youtube {
     color: #c4302b;
     padding: 20px;
    
 }
 #twitter {
     color: #00acee;
     padding: 20px;
 } */
 /* fix instagram logo color */
 /* #insta {
     color:#E1306C;
     padding: 20px;
 }
 #location {
     padding: 20px;
     margin-right: 40px;
     color: black;
 }

 @media only screen and (min-width: 340px) {
     .title {
         font-size: 2.5rem;
     }
 }

 @media only screen and (min-width: 405px) {
     div {
         flex-basis: 190px;
     }
 }

 @media only screen and (min-width: 450px) {
     h1 {
         font-size: 2.5rem;
     }
 }
 @media only screen and (min-width: 617px) {
     div {
         flex-basis: 295px;
     }
 }
 @media only screen and (min-width: 630px) {
     .devImg {
         height: 185px;
     }
 }
 @media only screen and (min-width: 909px) {
     div {
         flex-basis: 480px;
     }
 }
 @media only screen and (min-width: 1366px) {
     div {
         flex-basis: 670px;
     }
     .devImg {
         height: 215px;
     }

 } */

/* Code from W3 Schools for photo overlay */
/* .container {
    position: relative;
    width: 130px;
    flex-basis: 150px;


  }
 .devImg {
    display: block;
    width: 100%;
    height: 130px;
    width: 130px;
  } */
  /* .devImg:hover{
      opacity: 90%;
  }
   */
  /* .overlay {
    position: absolute;
    display: block;
    border-radius: 50%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 140px;
    width: 140px;
    padding: 0;
    opacity: 0;
    transition: .5s ease;
    background-color: #101419;
    margin-top: 10px;
    border: 1px solid #FBEE37;
    
  }
  
  .container:hover .overlay {
    opacity: 1;
  }
  
  .text {
    color: #fff;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  } */