<body>
  <header>
    <h1>Share & Connect</h1>
  </header>
  <h1></h1>
  <main>
    <!-- target="_blank" opens links in a new tab -->
    <nav id = "socialMedia" class = "animated tada">  
      <ul> 
      <a href = "https://www.facebook.com/CityofGrandRapids" target="_blank">
        <i class="fab fa-facebook fa-3x"id = "facebook"></i></a>
      <a href = "https://www.instagram.com/citygrandrapids/" target="_blank">
        <i class="fab fa-instagram fa-3x"  id = "insta"></i></a>
      <a href = "https://twitter.com/CityGrandRapids" target="_blank">
        <i class="fab fa-twitter fa-3x" id = "twitter"></i></a>
      <a href = "https://www.youtube.com/user/TheCityofGR" target="_blank">
        <i class="fab fa-youtube fa-3x" id = "youtube"></i></a>
      <a href ="https://www.google.com/maps/place/300+Monroe+Ave+NW,+Grand+Rapids,+MI+49503/@42.9692626,-85.6737103,17z/data=!4m5!3m4!1s0x8819adcf0108c147:0x619b153f60d55abe!8m2!3d42.9692626!4d-85.6715216"
        target="_blank"><i class="fas fa-map-marker-alt fa-3x" id="location"></i></a>
       
      </ul>
    </nav> 



    <h4>Developers</h4>
    <div class="allDevs">
      <div>
        <p>Chase Baker</p>
        <img src="assets/IMG_0898.png" class="chaseImg" />
        <div class="contactInfo">
          <a href="https://www.linkedin.com/in/chase-baker-b55631180/" target="_blank"
            ><i class="fab fa-linkedin fa-2x"></i
          ></a>
          <a href="https://github.com/chasebaker21" class="gitHub" target="_blank"
            ><i class="fab fa-github fa-2x"></i
          ></a>
        </div>
      </div>
      <div>
        <p>Brielle Robinson</p>
        <img src="assets/brielleRobinson.png" class="chaseImg"/>
        <div class="contactInfo">
          <a href="https://www.linkedin.com/in/brielle-robinson/" target="_blank"
            ><i class="fab fa-linkedin fa-2x"></i
          ></a>
          <a href="https://github.com/briellemarie28" class="gitHub" target="_blank"
            ><i class="fab fa-github fa-2x"></i
          ></a>
        </div>
      </div>
      <div>
        <p>Sam Scholtens</p>
        <img src="assets/samScholtens.png" class="chaseImg"/>
        <div class="contactInfo">
          <a href="https://www.linkedin.com/in/samscholtens/" target="_blank"
            ><i class="fab fa-linkedin fa-2x"></i
          ></a>
          <a href="https://github.com/samscholt" class="gitHub" target="_blank"
            ><i class="fab fa-github fa-2x"></i
          ></a>
        </div>
      </div>
      <div>
        <p>Ryan DeVree</p>
        <img src="assets/ryanDeVree.png" class="chaseImg" />
        <div class="contactInfo">
          <a href="https://www.linkedin.com/in/ryan-devree-grrmco/" target="_blank"
            ><i class="fab fa-linkedin fa-2x"></i
          ></a>
          <a href="https://github.com/ryan-devree-GRRMCO" class="gitHub" target="_blank"
            ><i class="fab fa-github fa-2x"></i
          ></a>
        </div>
      </div>
    </div>
  </main>
</body>