.chaseImg {
    height: 100px;
    width: 100px;
}
div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-basis: 150px;
}
a {
    text-decoration: none;
    color: #0077B5;
    margin: 3px;
    display: inline;
}
.gitHub {
    color: black;
}
.contactInfo {
    display: block;
    max-height: fit-content;
}

.allDevs {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}