<body>
  <header>
    <!-- <p>
      UPVOICE is a software that allows residents of your city share their voice
      with the city.
    </p> -->
  </header>
  <h1>Share & Connect</h1>
  <main>
    <nav class = "contact"> 
      <ul> 
      <a href = "https://www.instagram.com/citygrandrapids/"><i class="fab fa-instagram"></i></a>
      <a href = "https://twitter.com/CityGrandRapids"><i class="fab fa-twitter"></i></a>
      <a href = "https://www.youtube.com/user/TheCityofGR"><i class="fab fa-youtube"></i></a>
      <a href = "https://www.facebook.com/CityofGrandRapids"><i class="fab fa-facebook"></i></a>
      </ul>
    </nav> 



    <h3>Meet the Devs behind UPVOICE</h3>
    <div class="allDevs">
      <div>
        <p>Chase Baker</p>
        <img src="assets/IMG_0898.png" class="chaseImg" />
        <div class="contactInfo">
          <a href="https://www.linkedin.com/in/chase-baker-b55631180/"
            ><i class="fab fa-linkedin fa-2x"></i
          ></a>
          <a href="https://github.com/chasebaker21" class="gitHub"
            ><i class="fab fa-github fa-2x"></i
          ></a>
        </div>
      </div>
      <div>
        <p>Brielle Robinson</p>
        <img src="assets/brielleRobinson.png" class="chaseImg" />
        <div class="contactInfo">
          <a href="https://www.linkedin.com/in/brielle-robinson/"
            ><i class="fab fa-linkedin fa-2x"></i
          ></a>
          <a href="https://github.com/briellemarie28" class="gitHub"
            ><i class="fab fa-github fa-2x"></i
          ></a>
        </div>
      </div>
      <div>
        <p>Sam Scholtens</p>
        <img src="assets/samScholtens.png" class="chaseImg" />
        <div class="contactInfo">
          <a href="https://www.linkedin.com/in/samscholtens/"
            ><i class="fab fa-linkedin fa-2x"></i
          ></a>
          <a href="https://github.com/samscholt" class="gitHub"
            ><i class="fab fa-github fa-2x"></i
          ></a>
        </div>
      </div>
      <div>
        <p>Ryan DeVree</p>
        <img src="assets/ryanDeVree.png" class="chaseImg" />
        <div class="contactInfo">
          <a href="https://www.linkedin.com/in/ryan-devree-grrmco/"
            ><i class="fab fa-linkedin fa-2x"></i
          ></a>
          <a href="https://github.com/ryan-devree-GRRMCO" class="gitHub"
            ><i class="fab fa-github fa-2x"></i
          ></a>
        </div>
      </div>
    </div>
  </main>
</body>