.devImg {
    height: 100px;
    width: 100px;
}
/* body {
    background-color: #1179CC;
} */

/* .chaseImg:hover{
    -webkit-transform: rotateZ(-30deg);
    -ms-transform: rotateZ(-30deg);
    transform: rotateZ(-30deg);
} */
div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-basis: 150px;
}
a {
    text-decoration: none;
    color: #0077B5;
    margin: 3px;
    display: inline;
}
.gitHub {
    color: black;
}
.contactInfo {
    display: block;
    max-height: fit-content;
}

.allDevs {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
#socialMedia{
    display: flex;
    flex-flow: row;
    align-content: space-between;
    justify-content: center;
    

}
header {
    display: flex;
    justify-content: center;
    align-items: center;
}
h4 {
    display: flex;
    justify-content: center;

}

 #facebook {
     color: #3b5998;
     padding: 20px;
     
 }
 #youtube {
     color: #c4302b;
     padding: 20px;
    
 }
 #twitter {
     color: #00acee;
     padding: 20px;
 }
 /* fix instagram logo color */
 #insta {
     color:#E1306C;
     padding: 20px;
 }
 #location {
     padding: 20px;
     margin-right: 40px;
     color: black;
 }
