
body {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.catContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 40px;
}

.buildingBtn {
    color: red;
}

.marijuannaBtn {
    color: green;
}

.textStyle {
    color: black;
    font-size: 1rem;
}

.fa-5x {
    font-size: 8rem;
}