footer {
  position: fixed;
  height: 50px;
  bottom: 0;
  width: 100%;
  background-color: #1179CC;
  color: white;
  z-index: 4;
 }
 ul {
   list-style-type: none;
   display: flex;
   justify-content: space-evenly;
   margin-top: 10px;
   padding: 0;
 }

button {
  border: none;
  background-color: inherit;
  border-radius: 10px;
  outline: none;
}

.mainHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  background-color: #1179cc;
  height: 150px;
}

.title {
  font-size: 2rem;
}
 
.menuBtn {
  position: relative;
  bottom: 21%;
  right: 1%;
  
}
.menuBtnLogo {
  display: flex; 
  align-items: center;
 
 
}
img {
  height: 60px;
  margin-bottom: 68px;
}
h3 {
  margin: 0;
  font-size: 2.95rem;
}

.fa-2x {
  font-size: 3rem;
  padding-right: 20%;
  position: relative;
  bottom: 37px;
}

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 10; 
  right: 0;
  top: 0;
  background: #20b874;
  overflow-x: hidden; 
  transition: 0.5s;
}

/* Position the content inside the overlay */
.overlay-content {
  position: relative;
  top: 10%;
  width: 100%;
  text-align: center; 
  padding-left: 20%;
}

/* The navigation links inside the overlay */
.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 1.24rem;
  color: white;
  display: block;
  transition: 0.3s;
  text-align: end;
  padding-right: 30px;
}

/* When you mouse over the navigation links, change their color */
.overlay a:hover,
.overlay a:focus {
  color: #007bff;
}

.overlay a:active {
  color: #007bff;
}

/* Position the close button (top right corner) */
.overlay .closebtn {
  position: absolute;
  top: -5%;
  right: 0%;
  font-size: 3rem;
}

/* opens and closes the nav menu with ngclass */
.openNav {
  width: 235px;
  height: 450px;
  border-bottom-left-radius: 100%;
  border-top: none;
  border-right: none;
}

/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
@media screen and (max-height: 450px) {
  .overlay a {
    font-size: 20px;
  }
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }

  .title {
    font-size: 2.5rem;
  }
}
@media screen and (min-width: 485px) {
  .openNav {
    height: 60%;
    width: 370px;
  }
  .overlay a {
    font-size: 2rem;
  }
}

@media only screen and (min-width: 768px) {

  .title {
    font-size: 3.5rem;
  }
  footer {
    display: none;
  }
  .fa-2x {
    font-size: 3rem;
  }
}

  @media only screen and (min-width: 1024px) {
    img {
      height: 90px;
      margin-bottom: 38px;
    }
  }

  @media only screen and (min-width: 1440px) {
    .fa-2x {
      font-size: 4rem;
    }
    img {
      height: 90px;
      margin-bottom: 36px;
    }
  }

