<body>
  <header class="mainHeader">
    <div class="menuBtnLogo"><button [routerLink]="['/home']" routerLinkActive="router-link-active" [queryParams]="{skipintro: true}"><img src="assets/UPVOICE LOGO.png" alt="UPVOICE GR LOGO"></button></div>
    <h3>UPVOICE</h3>
    <button (click)="openNav()"><i class="fas fa-bars fa-2x"></i></button>
  </header>

  
  <!-- The overlay -->
  <div [ngClass]="{ openNav: open }" class="overlay">
    <!-- Button to close the overlay navigation -->
    <a href="javascript:void(0)" class="closebtn" (click)="closeNav()">&times;</a>
  
    <!-- Overlay content -->
    <div class="overlay-content">
      <a [routerLink]="['/home']" routerLinkActive="router-link-active" (click)="closeNav()" [queryParams]="{skipintro: true}">Home</a>
      <a [routerLink]="['/about']" routerLinkActive="router-link-active"  (click)="closeNav()">About</a>
      <a [routerLink]="['/mjCategoryList']" (click) = "fetchMarijuana()" routerLinkActive="router-link-active" (click)="closeNav()">Marijuana Permits</a>
      <a [routerLink]="['/bpCategoryList']" (click) = "fetchBuildings()" routerLinkActive="router-link-active" (click)="closeNav()">Building Permits</a>
      <a [routerLink]="['/favorites']" routerLinkActive="router-link-active" (click)="closeNav()">Saved</a>
    </div>
  </div>
  
  <router-outlet></router-outlet>
  
</body>
