<!-- <home></home> -->

<div (click)="fetchAPI()">
    
</div>

<div class = "links">
    <a routerLink="/home" routerLinkActive="active">Home</a>
    <a routerLink="/categories/MJApi" routerLinkActive="active">Marijuana Permits</a>
    <a routerLink="/categories/PermitsApi" routerLinkActive="active">Building Permits</a>
    <a routerLink="/favorites" routerLinkActive="active">Favorites</a>
    <!--<a routerLink="/permits" routerLinkActive="active">Permits</a> -->
 </div>

<router-outlet></router-outlet>


