<body>
    <header>
      <h2>Upcoming Building Permits</h2>
    </header>

    <main class="project">
      <div class = "genInfo" *ngFor = "let permit of permitList"> 
       <h3 class = "projectName"> {{permit.projectname}}</h3>
       <p class = "projectInfo">{{permit.originaladdress1}}<br>
       {{permit.neighborhood}} Neighborhood<br>
       Status: {{permit.permitstatuscurrent}}<br>
       Approved Date;{{permit.permitapproveddate}}</p><br>
       <div class = "voteButtons"><vote-comment></vote-comment></div>
      </div>
      
      <div class="genInfo">
        <p>Name: Planet Fitness Gym</p>
        <p>Location: 123 Division Ave</p>
      </div>
      <div class="statusInfo">
        <p>Status: Pending</p>
        <p>Date Approved: N/A</p>
      </div>
      <vote-comment></vote-comment>
    </main>
  </body>
