<body>
  <main class="project">
      <h3 class="projectName">{{ permit.projectname }}</h3>
      <h5 class="projectInfo">{{ permit.originaladdress1 }} <span>{{ permit.neighborhood }} Neighborhood</span></h5>
      <div class="genInfo">
        <p>Status: {{ permit.permitstatuscurrent }}</p>
        <p>Approved Date: {{ formatDate(permit.permitapproveddate) }}</p>
      </div>
      <!-- button to add permit to saved list -->
      <i class="fas fa-bookmark fa-2x" *ngIf="fave" (click)="removeBPItem(permit)"></i>
      <!-- button to remove from saved list -->
      <i class="far fa-bookmark fa-2x" *ngIf="!fave" (click)="addBPItem(permit)"></i>   
      <vote-comment [id]="permit.permitnum"></vote-comment>
  </main>
</body>
