@import url("https://fonts.googleapis.com/css2?family=Bellota+Text:wght@300&display=swap");

body {
  margin: 0;
}
header {
  display: flex;
  justify-content: center;
}
.genInfo {
  display: flex;
  border: none;
  margin: 0;
  padding: 0px;
  padding-bottom: 9px;
}
p {
  font-size: 0.8rem;
  margin-bottom: 0px;
  font-weight: 900;
}
div {
  background-color: #47bbde;
  padding: 15px;
  border-top: 5px solid #191a2b;
  border-bottom: 5px solid #191a2b;
  margin-bottom: 10px;
  width: 103%;
  margin-left: -5px;
}
.statusInfo {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.project {
  font-family: "Bellota Text", cursive;
  padding: 5px;
}

.projectInfo {
  margin-bottom: 10px;
}
/* .voteButtons {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  border: none;
} */
button {
  border: none;
}
