body {
    margin: 0;
}
.genInfo {
    display: flex; 
    justify-content: space-between;
    align-items: center;
    border-top: 3px solid darkgray;
    border-bottom: 3px solid darkgray;

}
.statusInfo {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.project {
    padding: 5px;
<<<<<<< HEAD
    background-color: lightskyblue;   
}
.voteButtons {
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
    
=======
}
button {
    border: none;
>>>>>>> cc68abd1ed480a228f288692bb3779e1c9885ff7
}
