body {
    margin: 0;
}
.genInfo {
    display: flex; 
    justify-content: space-between;
    align-items: center;
}
.statusInfo {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.project {
    border-top: 3px solid darkgray;
    border-bottom: 3px solid darkgray;
    padding: 5px;
}
button {
    border: none;
}
