.some-page-wrapper {
    margin: 15px;
    height: 100vw;
}

.row {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0;
}
  
.column {
    display: flex;
    flex-direction: column;
}

.left-column, .right-column {
    border: 3px solid rgb(248,99,91);
    background: rgb(251,238,54);
    width: 100%;
    text-align: center;
}

button {
    background-color: transparent;
    border: none;
    color: rgb(27,156,241);
    font-size: 24px;
}


@media all and (min-width: 768px) {
      
    .row {
        flex-direction: row;
    }
      
    .column {
        width: 49%;
    }
}