<body>
  <header>
    <input type="text" placeholder="Search Address" />
  </header>
<main>
    <div class="catContainer">
        <button class="buildingBtn" [routerLink]="['/buildingCategory']" routerLinkActive="router-link-active" ><i class="fas fa-hammer fa-5x"></i></button>
        <h2 class="textStyle">Building Permits</h2>
      </div>
      <div class="catContainer">
        <button class="marijuannaBtn" [routerLink]="['/mjCategory']" routerLinkActive="router-link-active" ><i class="fas fa-prescription-bottle-alt fa-5x"></i></button>
        <h2 class="textStyle">Marijuana Permits</h2>
      </div>
</main>
<footer>
     <!-- to be decided  -->
</footer>    
</body>

