body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
}
header {
  flex: 1;
}

input {
  margin: 8px;
  width: 95%;
  border: 1px solid;
  height: 35px;
  font-size: large;
}

/* css for the category buttons  */
.catContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 30px;
}
button {
  border: none;
}

.buildingBtn {
  color: black;
  background-color: inherit;
}

.marijuannaBtn {
  color: black;
  background-color: inherit;
}

.textStyle {
  color: black;
  font-size: 1rem;
}

.fa-5x {
  font-size: 8rem;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

footer {
  width: auto;
}
