* {
  z-index: 3;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
}
.title {
  position: absolute;
  top: 9%;
  right: 7%;
  font-size: 1.6rem;
}
.backgroundImg {
  height: 100%;
  width: 100%;
  position: absolute;
  border-radius: inherit;
  z-index: 1;
  filter: blur(2px);
}
.zIndex {
  z-index: 3;
}

header {
  display: flex;
  justify-content: center;
}

input {
  margin: 8px;
  width: 55%;
  height: 35px;
  font-size: large;
  border-radius: 5px;
  border: none;
  padding-left: 10px;
}

/* css for the category buttons  */
.catContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5px;
}
button {
  border: none;
  background: transparent;
}

.buildingBtn >img {
  color: black;
  background-color: rgb(32, 184, 116, 0);
}

.marijuanaBtn > img {
  color: black;
  background-color: rgb(32, 184, 116, 0);
}

.mapBtn {
  color: black;
  background-color: rgb(32, 184, 116, 0);
}
.textStyle {
  color: white;
  font-size: 2rem;
  border-radius: 5px;
  padding: 2%;
  background: #20b874;
  width: max-content;
  text-align: center;
}

.fa-5x {
  font-size: 8rem;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

footer {
  width: auto;
}
/* splash page */
#splash {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center; 
  padding:0;
  position: absolute;
  margin-top: 10px;
  left: 50%;
  top: 69%;
  transform: translate(-50%, -50%);
}
#splashLogo {
  border: 0;
  border-radius: 0;
  box-shadow: none;
  max-height: 300px; 
  max-width: 400px;
}
h3 {
  width: max-content;
  animation-duration: 2s;
}

img {
  height: 170px;
  border-radius: 53%;
  margin-bottom: 10px;
  box-shadow: 4px 4px 8px -1px black;
  animation-duration: 2s;
}

/* #splashBackground {
  height: 100vh;
  width: 100vw;
  opacity: 70%;
  border-radius: none;
  z-index: -1
}  */

#testing {
height: 175%;
width: 100%;
position: fixed;
background: linear-gradient(to bottom, #1179cc 0%,#1179cc 50%,#1179cc 70%,#20b874 50%,#20b874 100%);
z-index: 4;
}
.city {
  opacity: 60%;
  width: 100vw;
}
img:hover {
  box-shadow: 8px 11px 10px 2px #1179cc;
}

@media only screen and (min-width: 375px) {
  .title {
    top: 8%;
    right: 7%;
    font-size: 1.9rem;
  }
}

@media only screen and (min-width: 425px) {
  .title {
    top: 8%;
    right: 6%;
    font-size: 2.2rem;
  }
}

/* style for tablet size screens */
@media only screen and (min-width: 768px) {
  img {
    height: 238px;
  }
  main {
    height: 88vh;
  }
  span {
    top: 27%;
  }
  .catContainer {
    margin: 30px;
  }
  .title {
    top: 5%;
    right: 11%;
    font-size: 3.7rem;
  }
  #testing {
    background: linear-gradient(to bottom, #1179cc 0%,#1179cc 50%,#1179cc 64%,#20b874 50%,#20b874 100%);
  }
  #splash {
    top: 62%;
    margin-top: 20px;
  }
}

@media only screen and (min-width: 1024px) {
  img {
    height: 288px;
  }
  .title {
    top: 4%;
    right: 18%;
    font-size: 4rem;
  }
  #testing {
    background: linear-gradient(to bottom, #1179cc 0%,#1179cc 50%,#1179cc 68%,#20b874 50%,#20b874 100%);
  }
  #splash {
    top: 66%;
  }
  
}

@media only screen and (min-width: 1440px) {
  img {
    height: 393px;
  }
  .title {
    top: 1%;
    right: 17%;
    font-size: 6rem;
  }
}
