<body>
  <header *ngIf="show">
    <input type="text" placeholder="Search Address"/>
  </header>
  <section id="testing"*ngIf="!show" (click)="display()">
      <div id = "splash"  class = "animated fadeIn"> 
    <!-- <h1 class="animated fadeInDown">Welcome To</h1> -->
      <h3 class = "animated fadeInDown">UPVOICE GR</h3>
      <img
        src="../../assets/UPVOICE LOGO.png"
        id="splashLogo"
        class="animated fadeInUp"
      />
      </div> 
</section>
  <main *ngIf="show">
    <div class="catContainer">
      <button
        class="buildingBtn"
        (click) = "fetchBuildings()"
        [routerLink]="['/bpCategoryList']"
        routerLinkActive="router-link-active"
      >
        <img
          src="assets/2-man-on-construction-site-during-daytime-159306.png"
        />
      </button>

      <h2 class="textStyle">Building Permits</h2>
    </div>
    <div class="catContainer">
      <button
        class="marijuanaBtn"
        (click)="fetchMarijuana()"
        [routerLink]="['/mjCategoryList']"
        routerLinkActive="router-link-active"
      >
        <img src="assets/mjLeaf.png" />
      </button>

      <h2 class="textStyle">Marijuana Permits</h2>
    </div>
  </main>
  <footer>
    <!-- to be decided  -->
  </footer>
</body>