body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
}
header {
  display: flex;
  justify-content: center;
}

input {
  margin: 8px;
  width: 55%;
  height: 35px;
  font-size: large;
  border-radius: 5px;
  border: none;
  padding-left: 10px;
}

/* css for the category buttons  */
.catContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 30px;
}
button {
  border: none;
}

.buildingBtn {
  color: black;
  background-color: inherit;
}

.marijuannaBtn {
  color: black;
  background-color: inherit;
}

.textStyle {
  color: black;
  font-size: 1rem;
}

.fa-5x {
  font-size: 8rem;
}

main {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

footer {
  width: auto;
}

/* .splash {
  display:flex;
  top: 50%;
  height: 101%;
  width: 100%;
} */
span {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 25%;
  margin-bottom: 25%;
}
#splashLogo {
<<<<<<< HEAD
 border: 0;
border-radius: 0;

=======
  border: 0;
  border-radius: 0;
  box-shadow: none;
>>>>>>> 6e3486434d664b94c3a66ec38721c93580ecc16e
}

img {
  height: 150px;
  /* border: 5px solid #47BBDE; */
  border-radius: 53%;
  margin-bottom: 10px;
  box-shadow: 4px 4px 8px -1px black;
}
