.title {
  text-align: center;
  position: absolute;
  top: 7%;
  font-size: 1.8rem;
}

header {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5%;
}
input {
  position: absolute;
  top: 18%;
  height: 4%;
  width: 95%;
  border-radius: 5px;
  border-radius: 5px;
  border: none;
  text-align: left;
  box-shadow: 3px 3px 11px black;
  padding-left: 2%;
}
.searchBar {
  display: flex;
  background-color: inherit;
  justify-content: center;
  width: 100%;
  padding: 0;
  margin: 0;
  box-shadow: none;
}
.searchBtn {
  position: relative;
  left: 39%;
  top: 29px;
  background: inherit;
  border: none;
}
div {
  background-color: #1179cc;
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 10px;
  box-shadow: 3px 3px 8px black;
}
.fullList {
  background-color: inherit;
  box-shadow: none;
}

@media only screen and (min-width: 350px) {
  .fa-2x {
    font-size: 1.5rem;
  }
}

@media only screen and (min-width: 375px) {
  .searchBtn {
    position: relative;
    right: 9%;
    top: 33px;
  }
    .fa-2x {
    font-size: 1.5rem;
  }
  .title {
    top: 9%;
  }
}

/* css for tablet size screens */
@media only screen and (min-width: 768px) {
  div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-basis: 45%;
    margin: 10px;
    background-color: #1179cc;
  }
  .searchBtn {
    left: 32%;
  }
  .fa-2x {
    font-size: 1.8rem;
  }
  input {
    font-size: 1.8rem;
    width: 70%;
  }
  .title {
    font-size: 3.5rem;
    top: 7%;
  }
}
/* css for standard laptop screens */
@media only screen and (min-width: 1024px) {
  div {
    flex-basis: 46%;
    margin: 15px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #1179cc;
  }
  .title {
    font-size: 3.8rem;
    top: 5%;
  }
}

/* css for larger laptop screens */
@media only screen and (min-width: 1440px) {
  div {
    flex-basis: 30%;
  }
  img {
    height: 88px;
    margin-bottom: 51px;
  }
  .title {
    font-size: 4.8rem;
    top: 3%;
  }
  .searchBtn {
    left: 28%;
  }
  input {
    width: 60%;
  }

}
