
<header>
    <h1 class="title">Marijuana Building Permits</h1>
    <div class="searchBar">
        <input type="text" placeholder="Search by street name ex. 'Division'" [(ngModel)]="permitAddress" />
        <button (click)="filterAddress()" class="searchBtn"><i class="fas fa-search fa-2x"></i></button>    
    </div>
</header>
<div class="fullList">
    <div *ngFor = "let permit of MJAPIService.permitList">
        <mj-category [permit]="permit"></mj-category>
    </div>
</div>

<div class="message" *ngIf="!filtering && MJAPIService.permitList.length == 0">
    <p>Please wait...</p>
</div>

<div class="message" *ngIf="filtering && MJAPIService.permitList.length == 0">
    <p>Sorry, no results found.</p>
</div>