<header>
    <nav class="navbar navbar-light bg-light">
          <input [(ngModel)]="permitAddress" class="form-control mr-sm-2" type="search" placeholder="Search by street name ex. 'Division'" aria-label="Search">
          <button (click)="filterAddress()" id="searchBtn" class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </nav>
</header>

<div class="fullList">
    <div *ngFor = "let permit of MJAPIService.permitList">
        <mj-category [permit]="permit"></mj-category>
    </div>
</div>

<div class="message" *ngIf="!filtering && MJAPIService.permitList.length == 0">
    <p>Please wait...</p>
</div>

<div class="message" *ngIf="filtering && MJAPIService.permitList.length == 0">
    <p>Sorry, no results found.</p>
</div>